<style>
    li{
        border: 1px solid;
    }
    .abc{
        width: 100px;
        height: 100px;
        background: red;
        display: block;
    }
</style>
<button type="button" ng-click="changeType('cloth')">服装类</button>
<button type="button" ng-click="changeType('sport')">运动类</button>
<button type="button" ng-click="changeType('phone')">手机类</button>
<button type="button" ng-click="changeType('')">全部</button>
<a href="#car">去购物车</a>
<input type="text" ng-model="searchKey">
<ul>
    <li ng-repeat="item in items | filter:type | filter:searchKey">
        <span class="abc" ng-show="item.count">
            {{item.count}}
        </span>
        <p>
            {{item.name}}
        </p>
        <p>
            {{item.price}}
        </p>
        <p>
            <button type="button" ng-click="add(item)">+</button>
            <span>{{item.count||0}}</span>
            <button type="button" ng-click="sub(item)">-</button>
        </p>
        <p>
            <button type="button" ng-disabled="!item.count" ng-click="addToCar(item)">加入购物车</button>
        </p>
    </li>
</ul>