header{
    background-color: #ffd600;
    height: 14rem;

}

header ul:first-child{
    height: 10rem;
    padding-left: 1.8rem;
    padding-top: 2rem;
}
header ul:first-child li{
    list-style: none;
    float: left;
    height:8rem;
    line-height: 8rem;

}
header ul:first-child li:first-child img{
    height:6rem;
    margin-right: 1.6rem;
}
header ul:first-child li div{
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: bold;
    line-height: 3rem;
}

header ul:first-child li:nth-of-type(2) img{
    height: 3rem;
}
header ul:first-child li:nth-of-type(2){
    position: relative;
}
header ul:first-child li:nth-of-type(2) span{
    position: absolute;
    top:2.9rem;
    left: 3rem;
    color: #e64f1a;
    font-size: 1.6rem;
}
header ul:first-child li:last-child{
    float: right;
    margin-right: 3rem;
    font-size: 3rem;
    color: #FFFFFF;
}

header ul:nth-of-type(2){
    display: flex;
    list-style: none;
    background: pink;
    height: 4rem;
    align-items: center;
    background: #f3c800;
    font-size: 1.6rem;

}

@font-face {
    font-family: 'iconfont';  /* project id 195889 */
    src: url('//at.alicdn.com/t/font_iyxtw90aa0mgqfr.eot');
    src: url('//at.alicdn.com/t/font_iyxtw90aa0mgqfr.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_iyxtw90aa0mgqfr.woff') format('woff'),
    url('//at.alicdn.com/t/font_iyxtw90aa0mgqfr.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_iyxtw90aa0mgqfr.svg#iconfont') format('svg');
}
header ul:nth-of-type(2) li{
    flex: 1;
    text-align: center;
    color: #FFFFFF;
}
header ul:nth-of-type(2) li .mine-icon{
    font-family: iconfont;
    font-size: 3rem;
}

.part{
    margin-top: 1rem;
}
.part ul{
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    list-style: none;
    padding-left: 2rem;
    padding-right: 2rem;

}
.part .order .myOrder{
    font-size: 1.6rem;
}
.part .order li .allOrder{
    font-size: 1.6rem;
    color: #999;
}
.part ul img{
    height: 2rem;
}
.part ul li{
   text-align: center;
}
.part .order{
    border-bottom: 1px solid #e0e0e0;
}
.part .order li{
     height: 5rem;
     line-height: 5rem;
     text-align: center;

 }

.part .product li{
    height: 7rem;
    padding-top: 2rem;
    text-align: center;
    font-size: 1.4rem;
}
.part .product  li div{
    margin-bottom: .6rem;

}
.part .items{
    border-bottom: 1px solid #e0e0e0;

}
.part .its{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.logout{
    background: #FFFFFF;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 1.8rem;
    margin-top: 3rem;
    margin-bottom:6rem;
    color: #333;
}

