#nav{
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 0 auto;
    width: 1160px;
}
#nav ul li{
    list-style: none;
    float: left;
}
#nav ul li a{
    text-decoration: none;
    padding:0px 32px;
    color:#323232;
}
#nav ul li:nth-of-type(1) a{
    color:#57cbe7;
}
#nav ul li a:hover{
    color: #57cbe7;
    display: inline-block;
    background: #f5f5f5;
}