#anchor_filtrate{
    background:#33312e;
    height: 2100px;
    padding-top: 20px;
}

#anchor_filtrate .condition-line{
    width: 1111px;
    height: 96px;
    margin: 0 auto;
    background: #FFFFFF;

}
#anchor_filtrate .condition-line ul{
    padding-left:27px;
    padding-top: 20px;
}

#anchor_filtrate .condition-line ul li{
    list-style: none;
    float: left;
}
#anchor_filtrate .condition-line ul li a
{
    color:#636363 ;
    text-decoration: none;
    padding: 0 10px;
}
#anchor_filtrate .condition-line ul li:nth-of-type(2) a{
    background: #12af7e;
    color: #fff;
    padding: 10px 12px;
}
#anchor_filtrate .condition-line ul li a:hover{
    color: #12af7e;
    text-decoration: underline;
}

#anchor_filtrate .zw-module-sortnav-wrap{
    color: #fff;
    width: 1111px;
    height:64px;
    line-height: 64px;
    margin: 0 auto;
    background: pink;

}
#anchor_filtrate .zw-module-sortnav-wrap span{
    display: inline-block;
    margin: 0 20px;
}

#anchor_filtrate .zw-module-productlist-unit{
    width: 1111px;
    margin: 0 auto;
}
#anchor_filtrate .zw-module-productlist-unit>li{
    background: #fff;
    margin-bottom: 30px;
    height: 280px;
    list-style: none;
    color: #636363;
    position: relative;

}
#anchor_filtrate .zw-module-productlist-unit>li img{
    float: left;
    margin-right: 16px;
    /*width: 400px;*/
    /*height: 280px;*/
}
#anchor_filtrate .zw-module-productlist-unit>li div:first-of-type>span:first-child {
   border: 1px solid #ddd;
    padding: 5px 6px;
}
#anchor_filtrate .zw-module-productlist-unit>li div:first-of-type{
    padding-top: 20px;
}
#anchor_filtrate .zw-module-productlist-unit>li div:first-of-type span:nth-of-type(2){
    float: right;
    padding: 0px 20px;

}
#anchor_filtrate .zw-module-productlist-unit>li div:first-of-type span:nth-of-type(3){
    float: right;


}
#anchor_filtrate .zw-module-productlist-unit>li div:first-of-type span:nth-of-type(3) span,#anchor_filtrate .zw-module-productlist-unit>li div:first-of-type span:nth-of-type(2) span{
    color: #00b081;;
}
#anchor_filtrate .zw-module-productlist-unit>li div:nth-of-type(2) a{
    color: #000;
    font-size: 24px;
    text-decoration: none;

}
#anchor_filtrate .zw-module-productlist-unit>li div:nth-of-type(2) {
    margin-top: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
#anchor_filtrate .zw-module-productlist-unit>li ul{
    position: absolute;
    left: 450px;
}
#anchor_filtrate .zw-module-productlist-unit>li ul li{
    list-style-position: inside;
    height: 24px;
    line-height: 24px;
    list-style-type: none;
    width: 400px;
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
    margin-top: 6px;
}
/*五角星图标*/
@font-face {
    font-family: 'iconfont';  /* project id 195889 */
    src: url('//at.alicdn.com/t/font_nlf0w8oxf0kvs4i.eot');
    src: url('//at.alicdn.com/t/font_nlf0w8oxf0kvs4i.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_nlf0w8oxf0kvs4i.woff') format('woff'),
    url('//at.alicdn.com/t/font_nlf0w8oxf0kvs4i.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_nlf0w8oxf0kvs4i.svg#iconfont') format('svg');
}

#anchor_filtrate .zw-module-productlist-unit>li ul li:before {
    content: "\e6ba";
    font-family: iconfont;
    color:#67B481;
    font-size: 16px;
    margin-right: 8px;
}
#anchor_filtrate .zw-module-productlist-unit div:nth-of-type(3){
    height: 32px;
    line-height:32px;
    position: absolute;
    bottom: 70px;
    right: 15px;
}
#anchor_filtrate .zw-module-productlist-unit div:nth-of-type(3) span{
    float: right;


}
#anchor_filtrate .zw-module-productlist-unit div:nth-of-type(3) span:nth-of-type(3){
    margin: 0 10px;
    text-decoration:line-through;
}
#anchor_filtrate .zw-module-productlist-unit div:nth-of-type(3) span:nth-of-type(1){
    margin-right: 20px;
}
#anchor_filtrate .zw-module-productlist-unit div:nth-of-type(3) span:nth-of-type(2){
   color: #ff7362;
   font-size: 40px;
   font-weight: 800;
    margin-right: 3px;

}
#anchor_filtrate .zw-module-productlist-unit div:nth-of-type(3){
    overflow: hidden;
}

#anchor_filtrate .zw-module-productlist-unit div:nth-of-type(4) a{
    background-color: #ff7362;
    font-size: 18px;
    text-align: center;
    line-height: 56px;
    height: 56px;
    float: right;
    width: 174px;
    text-decoration: none;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    right: 0;
}