.market{
    display: flex;
    margin-top: 5.6rem;
    overflow: hidden;
}
.market ul{
    overflow-y: scroll;
    overflow-x:hidden ;

}
.market .classify{
    position: relative;
}
.market .classify .select:before{
    content: "";
    height: 4.2rem;
    width:.5rem;;
    background: #ffd600;
    position: absolute;
    left: 0rem;
    margin-top: .5rem;
}

.list{
    flex: 1;
    display: none;
    width: 100%;
    margin-top: 4.6rem;
}
.market .list:nth-child(2){
    display: block;
}
.list .product{
    height: 10rem;
    background: #FFFFFF;
    padding-top: 1.5rem;
    margin-bottom: 2px;
}
.list .product div img{
    float: left;
}

.pic{
    width: 8rem;
}
.classify li .hotName{
    position: relative;
}
.classify li .hot{
    background: url("../img/FlashSupermarket-2-bj-hot-1.jpg")no-repeat;
    width: 5rem;
    height: 4rem;
    display: inline-block;
    position: absolute;
    right: -22px;
    background-size: 3.8rem;
}
.market  .classify{
    width: 8rem;
    background: gold;
}
.market  .classify li{
    height: 5rem;
    border-bottom: 1px solid #e0e0e0;
    color: #6d6d6d;
    line-height: 5rem;
    text-align: center;
    font-size: 1.4rem;

}

.BySortFix{
    position: fixed;
    /*width: 100%;*/
    width: 80%;
    top: 5.7rem;
    z-index: 20;
}
.BySort{
    line-height: 5rem;
    background: #FFFFFF;
    display: flex;
    justify-content: space-around;
    font-size: 1.4rem;
    border-bottom: 1px solid #e0e0e0;


}
.BySort span{
    display: inline-block;
    text-align: center;
}
.BysortDetail{
    background: #FFFFFF;
    border: 1px solid #efefef;
}
.BysortDetail div span{
    color: #6d6d6d;

}
.BysortDetail span{
    display: inline-block;
    background-color: #fff9d9;
    border:1px solid #ffd600;
    padding: 16px 18px;
    border-radius: 8px;
    margin: 15px 5px;

}

.BysortDetail-1{
    display: none;
}
.BysortDetail-2{
    display: none;
}

@font-face {
    font-family: 'iconfont';  /* project id 195889 */
    src: url('//at.alicdn.com/t/font_bk8dv2qpp3c8fr.eot');
    src: url('//at.alicdn.com/t/font_bk8dv2qpp3c8fr.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_bk8dv2qpp3c8fr.woff') format('woff'),
    url('//at.alicdn.com/t/font_bk8dv2qpp3c8fr.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_bk8dv2qpp3c8fr.svg#iconfont') format('svg');
}
.BySort span label{
    font-family: iconfont ;
    margin-left: .5rem;
    font-size: 1.8rem;
}
