<script src="public/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="public/css/bootstrap.min.css">
<script src="public/js/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="public/css/logout.css">
<link rel="stylesheet" href="public/css/mine_common.css">
<script src="public/js/angular.min.js"></script>
<script src="public/js/angular-ui-router.js"></script>
<script src="public/js/fontSize.js"></script>
<script src="app/app.js"></script>

<header class="mine-headerComBtn">
    <span class="icon btn btn-default btn-block"><</span><div class="btn btn-default btn-block">用户登录</div>
</header>
<div class="logout-title">
    <div class="row">
        <div class="col-xs-6 text-center"><a ui-sref=".logout_account_number">账号登录</a></div>
        <div class="col-xs-6 text-left"><a ui-sref=".logout_phone_dynamic">手机密码动态登录</a></div>
    </div>
</div>
<div ui-view></div>
