<form role="form" class="mine-logout-phone-dynamic" >
    <div class="form-group">
        <input type="text" class="form-control input-lg" placeholder="用户名/邮箱/手机号">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
    </div>
    <div class="form-group" ng-controller="validateCodeController">
        <input type="text" class="form-control input-lg logcodeText" placeholder="验证码">
        <span id="myspanCode" ng-click="getCode(4)">123</span>
        <i class="changeGetCode" ng-click="getCode(4)">换一张</i>
    </div>
    <div class="form-group">
        <input type="text" class="form-control input-lg checkcodeText" placeholder="请输入校验码">
        <span class="btn form-control-feedback checkcodeBtn">获取校验码</span>
    </div>

    <button type="submit" class="btn btn-primary btn-block LoginImmediately">立即登录</button>
</form>