<script src="public/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="public/css/bootstrap.min.css">
<link rel="stylesheet" href="public/css/logout.css">


<div class="mine-logout-list">
<form role="form" class="mine-logout-account" >
    <div class="form-group">
        <input type="text" class="form-control input-lg" placeholder="用户名/邮箱/手机号">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
    </div>
    <div class="form-group">
        <input type="password" class="form-control input-lg" placeholder="密码">
        <span class="glyphicon glyphicon glyphicon-lock form-control-feedback"></span>
    </div>
    <div class="form-group" ng-controller="validateCodeController">
        <input type="text" class="form-control input-lg logcodeText" placeholder="验证码">
        <span id="myspanCode" ng-click="getCode(4)">123</span>
        <i class="changeGetCode" ng-click="getCode(4)">换一张</i>
    </div>

    <button type="submit" class="btn btn-primary btn-block">立即登录</button>
</form>
<div class="row">
    <div class="col-xs-8"><a ui-sref="register">免费注册</a></div>
    <div class="col-xs-4"><a href="">找回密码</a></div>
</div>

<div class="text-center logoutCooperativePartnerTitle">————————合作伙伴登录—————————</div>
<div class="row logoutCooperativePartner">
    <div class="col-xs-1"></div>
    <div class="col-xs-3"><a href=""><span class="QQ"></span></a></div>
    <div class="col-xs-3"><a href=""><span class="alipay"></span></a></div>
</div>
</div>


