<link rel="stylesheet" href="public/css/reset.css">
<script src="public/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="public/css/bootstrap.min.css">
<link rel="stylesheet" href="public/css/mine_common.css">
<link rel="stylesheet" href="public/css/mine_collection.css">


<div class="mine-collection">
<header class="mine-headerComBtn" >
    <span class="icon btn btn-default btn-block"><</span>
    <div class="btn btn-default btn-block" ng-controller="mineHeadController">我的收藏</div>
</header>
<div class="row allCollection">
    <div col-xs-6><input type="checkbox"></div>
    <div col-xs-3></div>
    <div col-xs-3></div>
</div>
<div class="mine-collection-container">
    <ul class="row">
        <li class="col-xs-2 text-center"><input type="checkbox"></li>
        <li class="col-xs-4"><img src="public/images/mine/product_1.jpg" alt=""></li>
        <li class="col-xs-4">
            <div>38°扳倒井青花瓷700ml（6瓶装）</div>
            <div>价格：<span>￥99</span></div>
        </li>
        <li class="col-xs-2 text-center">
            <div class="row">
                <span class="mine-collection-productIcon col-xs-6"></span>
                <span class="mine-collection-cartIcon col-xs-6"></span>
            </div>
        </li>

    </ul>
</div>
</div>