header{
    height: 5rem;
    background: #f9fafd;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    padding: 0 1rem;
    border-bottom: 1px solid #e0e0e0;
}
header span{
    float: left;
    font-size: 3rem;

}
.intergral-cir{
    background: #FFFFFF;
}
#myStat2{
    margin: 0 auto;
    font-size: 22px;
}
@font-face {
    font-family: 'iconfont';  /* project id 195889 */
    src: url('http://at.alicdn.com/t/font_8sh8hn14xz1qyqfr.eot');
    src: url('http://at.alicdn.com/t/font_8sh8hn14xz1qyqfr.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_8sh8hn14xz1qyqfr.woff') format('woff'),
    url('http://at.alicdn.com/t/font_8sh8hn14xz1qyqfr.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_8sh8hn14xz1qyqfr.svg#iconfont') format('svg');
}
.intergral-detail{
    display: flex;
    background: #FFFFFF;
    height:6rem;
    border-top: 1px solid #e0e0e0;
}
.intergral-detail li div{
    font-family: iconfont;
}
.intergral-detail li{
    flex: 1;
    list-style: none;
    text-align: center;
    color: #999;
    font-size: 1.4rem;
    padding-top: 1rem;
}
.intergral-detail li:nth-of-type(2){
    border-left:1px solid #e0e0e0;
    border-right:1px solid #e0e0e0;
}

.coupon{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin-top: 1rem;
    background: #FFFFFF;
}
.coupon li{
    width: 50%;
    border-bottom: 1px solid #e0e0e0;
}
.coupon li:nth-child(1){
    border-right:1px solid #e0e0e0;
}
.coupon li:nth-child(3){
    border-right:1px solid #e0e0e0;
}
.coupon li div img{
    width: 100%;
}
.coupon li div:nth-child(2){
    padding-left: 1rem;
    font-size: 1.4rem;
}
.coupon li div:last-child{
  color: #e64f1a;
  padding-left: 1rem;
  font-size: 1.4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}