<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>【最世界】Citywalk特价推荐_Citywalk团购促销优惠- 穷游折扣,一起发现最世界!</title>
    <link rel="Shortcut Icon" href="../img/zyerDown/48(6).jpg" />
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/zw-cityWalk-header.css">
    <link rel="stylesheet" href="../css/zw-cityWalk-module-banner1-wrap.css">
    <link rel="stylesheet" href="../css/zw-cityWalk-anchor-filtrate.css">
    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../js/cityWalk.js"></script>
</head>
<body>
 <div id="zw-header">
     <div class="zw-header-logo"><img src="../img/zyerDown/head-logo.png" alt=""></div>
     <div class="zw-header-searchs"><span>&#xe674;</span><input type="text" placeholder="搜索国家、城市、产品"></div>
     <div class="zw-header-link-unit"><span>&#xe611;</span><span>我的订单</span><span>|</span><span>&#xe612;</span><span>我的收藏</span></div>
     <table>
         <tr>
             <td><a href="">热门目的地</a><span>|</span></td>
             <td><a href="">首页</a></td>
             <td><a href="">机酒自由行</a></td>
             <td><a href="">城市玩乐</a></td>
             <td><a href="">签证</a></td>
             <td><a href="">租车</a></td>
             <td><a href="">邮轮</a></td>
             <td><a href="">海岛游</a></td>
             <td><a href="">限时特卖</a></td>
             <td><a href="">特色线路</a></td>
             <td><a href="">CityWalk</a></td>
         </tr>
     </table>
 </div>
<div id="zw-module-banner1-wrap"> </div>
<div id="anchor_filtrate">
    <div class="condition-line">

        <ul>
            <li><a href="">所在城市</a></li>
            <li><a href="">全部</a></li>
            <li><a href="">上海</a></li>
            <li><a href="">北京</a></li>
            <li><a href="">京都</a></li>
            <li><a href="">广州</a></li>
            <li><a href="">东京</a></li>
            <li><a href="">布拉格</a></li>
            <li><a href="">巴塞罗那</a></li>
            <li><a href="">纽约</a></li>
            <li><a href="">巴黎</a></li>
            <li><a href="">汉堡</a></li>
            <li><a href="">马德里</a></li>
            <li><a href="">米兰</a></li>
            <li><a href="">佛罗伦萨</a></li>
            <li><a href="">台北</a></li>
            <li><a href="">香港</a></li>
            <li><a href="">博洛尼亚</a></li>
            <li><a href="">伦敦</a></li>
        </ul>
    </div>
    <div class="zw-module-sortnav-wrap">
        <span>综合排序</span><span>销量</span><span>今日新品</span>
    </div>

        <ul  class="zw-module-productlist-unit"></ul>

</div>
 <div id="zw-footer-prepend"></div>
 <div id="footer"></div>
</body>


<script>
    $("#zw-footer-prepend").load("/zw-footer-prepend");
    $("#footer").load("/zw-footer");
</script>
</html>