<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>【最世界】机加酒自由行特价推荐_城市玩乐当地游团购促销优惠 - 穷游折扣,一起发现最世界! </title>
    <link rel="Shortcut Icon" href="img/zyerDown/48(6).jpg" />
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/head.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/swiper.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/zw-home-adarea.css">
    <link rel="stylesheet" href="css/zw-home-todaysale.css">
    <link rel="stylesheet" href="css/zw-home-ziyouxing.css">
    <link rel="stylesheet" href="css/zw-home-wanle.css">
    <link rel="stylesheet" href="css/zw-home-zhuanti.css">
    <script src="js/swiper-3.3.1.min.js"></script>
    <link rel="stylesheet" href="css/swiper-3.3.1.min.css">
    <script src="js/home.js"></script>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/menu.js"></script>
    <!--轮播图利用Swiper技术实现滚动-->
    <script src="js/swiper.js"></script>
    <script src="js/zw-home-ziyouxing.js"></script>


</head>
<body>
<div id="header">
    <img src="img/zyerDown/index-logo.png" alt="">
    <input type="text"placeholder="搜索国家、城市、产品">
    <img src="img/zyerDown/head-wordbg.png" alt="">
</div>

<div id="nav">
    <ul>
        <li><a href="#">首页</a></li>
        <li><a href="#">机酒自由行</a></li>
        <li><a href="#">城市玩乐</a></li>
        <li><a href="#">签证</a></li>
        <li><a href="#">租车</a></li>
        <li><a href="#">游轮</a></li>
        <li><a href="#">海岛游</a></li>
        <li><a href="#">限时特卖</a></li>
        <li><a href="#">特色线路</a></li>
        <li><a href="/cityWalk" target="_blank">cityWalk</a></li>
    </ul>
</div>
<!--轮播图-->
<div id="menu">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><a href="http://z.qyer.com/zt/cjwx/?campaign=zkbanner&category=cjwx" target="_blank"><img src="img/zyerDIY/1.png" alt=""></a></div>
            <div class="swiper-slide"><a href="http://z.qyer.com/zt/hdsd/?campaign=zkbanner&category=hdsd" target="_blank"><img src="img/zyerDIY/2.png" alt=""></a></div>
            <div class="swiper-slide"><a href="http://z.qyer.com/zt/hjqn/?campaign=zkbanner&category=hjqn" target="_blank"><img src="img/zyerDIY/3.png" alt=""></a></div>

        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
        <div class="swiper-button-next swiper-button-white"></div>
    </div>
<!--城市菜单-->
   <div class="ul_menu">
    <ul>

    </ul>
   </div>
</div>
<!--首屏广告-->
<div id="zw-home-adarea">
    <div><a href="http://z.qyer.com/sup/477/" target="_blank"><img src="img/zyerDIY/zw-home-adarea-1.png" alt=""></a></div>
    <div><a href="http://z.qyer.com/deal/89745/?campaign=xfbanner&category=89745" target="_blank"><img src="img/zyerDIY/zw-home-adarea-2.png" alt=""></a></div>
    <div><a href="http://z.qyer.com/zt/qdrb/?campaign=xfbanner&category=qdrb" target="_blank"><img src="img/zyerDIY/zw-home-adarea-3.png" alt=""></a></div>
    <div><a href="http://hades.qyer.com/ad/hobbit?adid=860&to=GtU1N&r=ad736a37d03801af38bc995c2e781d5472acc1c9&context=ad" target="_blank"><img src="img/zyerDIY/zw-home-adarea-4.png" alt=""></a></div>
</div>
<!--限时特卖-->
<div id="zw-home-todaysale">
  <h2>限时特卖<span>&nbsp;每日必看的特价精选</span></h2>
    <div><a href="">
        <div><img src="img/zyerDIY/8.png" alt=""></div>
        <div>天津直飞济州岛4-5天往返含税机票</div>
        <div><span>699</span>元起</div>
        </a>
    </div>
    <div><a href="">
        <div><img src="img/zyerDIY/6.png" alt=""></div>
        <div>【元旦/圣诞/春节预售】香港/天津/北京/成都出发芽庄4-7天自由行 (赠送接送机+赠送北京-天津往返大巴，酒店3-5星)</div>
        <div><span>2299</span>元起</div>
    </a>
    </div>
    <div><a href="">
        <div><img src="img/zyerDIY/7.png" alt=""></div>
        <div>广州直飞曼谷6-8天往返含税机票(赠目的地管家服务)</div>
        <div><span>399</span>元起</div>
    </a>
    </div>
</div>

<!--机酒自由行-->
<div id="zw-home-ziyouxing">
    <div class="title">
    <h2>机酒自由行<span>&nbsp;精选全球最优质机票、酒店、邮轮等旅行产品</span></h2>

        <ul>
            <!--<li><a href="">今日热卖</a></li>-->
            <!--<li><a href="">今日新品</a></li>-->
            <!--<li><a href="">闪购</a></li>-->
            <!--<li><a href="">假期出行</a></li>-->
            <!--<li><a href="">超值机票</a></li>-->
            <!--<li><a href="">热门海岛</a></li>-->
            <!--<li><a href="">热门推荐</a></li>-->
        </ul>
    </div>
    <ul class="content" >
        <!--<li><a href=""><div><img src="img/zyerDIY/ziyouxing_bg_1.jpg" alt=""></div><div><span>机+酒</span><span>1999元起</span></div><div>【春节假期】北京直飞伊尔库茨克4-8天自由行(首晚酒店+接机)</div><div>旅行时间 2016/03-2017/04</div></a></li>-->
        <!--<li><a href=""><div><img src="img/zyerDIY/ziyouxing_bg_2.jpg" alt=""></div><div><span>机票</span><span>999元起</span></div><div><p>【元旦/春节假期】天津直飞日本多地往返机票</p></div></a></li>-->
        <!--<li><a href=""><div><img src="img/zyerDIY/ziyouxing_bg_3.jpg" alt=""></div><div><span>机票</span><span>1599元起</span></div><div><p>上海直飞东京/大阪/名古屋4-10天往返含税机票（往返可任意搭配）</p></div></a></li>-->
        <!--<li><a href=""><div><img src="img/zyerDIY/ziyouxing_bg_4.jpg" alt=""></div><div><span>机票</span><span>1499元起</span></div><div><p>【圣诞节/元旦假期】香港直飞塞班5-6天往返含税机票</p></div></a></li>-->
        <!--<li><a href=""><div><img src="img/zyerDIY/ziyouxing_bg_5.jpg" alt=""></div><div><span>机+酒</span><span>1899元起</span></div><div><p>【元旦/春节假期】北京直飞香港4-5天自由行(可选五星酒店)</p></div></a></li>-->
        <!--<li><a href=""><div><img src="img/zyerDIY/ziyouxing_bg_6.jpg" alt=""></div><div><span>机+酒</span><span>1680元起</span></div><div><p>【春节元旦】深圳/广州/香港直飞沙巴5天4晚自由行(赠接送机,可选五星酒店)</p></div></a></li>-->
        <!--<li><a href=""><p><span>查看更多</span><span>机酒自由行</span><span>&#xe697;</span></p><p><span>机票</span><span>|</span><span>酒店</span><span>|</span><span>机+酒</span><span>|</span><span>邮轮</span></p></a></li>-->
    </ul>

</div>
<!--城市玩乐-->
<div id="zw-home-wanle">
    <div class="title">
        <h2>城市玩乐<span>&nbsp;像当地人一样，体验最本土的吃喝玩乐</span></h2>

        <ul>
            <li><a href="">日本</a></li>
            <li><a href="">泰国</a></li>
            <li><a href="">港澳台</a></li>
            <li><a href="">新西兰</a></li>
            <li><a href="">澳大利亚</a></li>
            <li><a href="">美国</a></li>
            <li><a href="">WiFi/电话卡</a></li>
        </ul>
    </div>
    <ul class="content">
        <li><a href=""><img src="img/zyerDIY/zw-home-wanle_bg_1.png" alt=""><div class="mask"></div><p>【官方授权】日本大阪环球影城入园实体票/电子票(实体包邮)</p><p><span>480</span>元起</p><p>城市玩乐</p></a></li>
        <li><a href=""><img src="img/zyerDIY/zw-home-wanle_bg_2.png" alt=""><p>日本冲绳乐游5处/12处通票</p><p><span>275</span>元起</p></a></li>
        <li><a href=""><img src="img/zyerDIY/zw-home-wanle_bg_3.png" alt=""><p>日本箱根周游券(2日票/3日票)</p><p><span>367</span>元起</p></a></li>
        <li><a href=""><img src="img/zyerDIY/zw-home-wanle_bg_4.png" alt=""><p>日本大阪周游卡OSAKA AMAZINGPASS(1日/2日券)</p><p><span>159</span>元起</p></a></li>
        <li><a href=""><div><span>查看更多</span><span>城市玩乐产品</span><span>&#xe697;</span></div><div><span>WiFi/电话卡</span><span>|</span><span>交通票券</span><span>|</span><span>景点门票</span><span>|</span><span>特色体验</span></div></a></li>
        <li><a href=""><img src="img/zyerDIY/zw-home-wanle_bg_5.png" alt=""><p>日本东京迪斯尼乐园/迪士尼海洋多日通票(电子票)</p><p><span>924</span>元起</p></a></li>
        <li><a href=""><img src="img/zyerDIY/zw-home-wanle_bg_6.png" alt=""><p>日本关西周游卡KANSAI THRU PASS(2日券/3日券)</p><p><span>279</span>元起</p></a></li>
    </ul>

</div>
<!--主题推荐-->
<div id="zw-home-zhuanti">
    <div class="title">
        <h2>主题推荐<span>&nbsp;亲子、蜜月、个性玩法…你想要的这里都有</span></h2>

        <ul>
            <li><a href="">精品小团</a></li>
            <li><a href="">发现城市</a></li>
            <li><a href="">亲子家庭</a></li>
            <li><a href="">情侣蜜月</a></li>
            <li><a href="">血拼购物</a></li>
            <li><a href="">闺蜜同游</a></li>
            <li><a href="">冒险之旅</a></li>
        </ul>
    </div>
    <ul class="content" >
        <li><a href=""><div><img src="img/zyerDIY/zw-home-zhuanti_bg_1.jpg" alt=""></div><div class="mask"></div><p>【最世界线路】至美锡兰10天探索之旅——除了雪这里拥有一切</p><p><span>9800</span>元起</p></li>
        <li><a href=""><div><img src="img/zyerDIY/zw-home-zhuanti_bg_2.jpg" alt=""></div><div>【City Walk】从大栅栏到杨梅竹斜街－老北京的城南旧事</div><div><span>88</span>元起</div></a></li>
        <li><a href=""><div><img src="img/zyerDIY/zw-home-zhuanti_bg_3.jpg" alt=""></div><div>【City Walk】东京下町的庶民情结- Veronica Walk半日行</div><div><span>248</span>元起</div></a></li>
        <li><a href=""><div><img src="img/zyerDIY/zw-home-zhuanti_bg_4.jpg" alt=""></div><div>【City Walk】“大村庄”里的菜市场 - 巴塞罗那Xiao Walk半日行</div><div><span>168</span>元起</div></a></li>
        <li><a href=""><div><img src="img/zyerDIY/zw-home-zhuanti_bg_5.jpg" alt=""></div><div>【City Walk】四合院里看北京 - 史家胡同半日行</div><div><span>88</span>元起</div></a></li>
        <li><a href=""><div><img src="img/zyerDIY/zw-home-zhuanti_bg_6.jpg" alt=""></div><div>【City Walk】Anne Walk武康路，老上海风情的缩影</div><div><span>88</span>元起</div></a></li>
        <li><a href=""><p><span>查看更多</span><span>主题产品推荐</span><span>&#xe697;</span></p><p><span>亲子</span><span>|</span><span>情侣</span><span>|</span><span>海岛游</span><span>|</span><span>购物</span></p></a></li>
    </ul>

</div>
<!--<a href="/cityWalk">跳转</a>-->
<div id="zw-footer-prepend"></div>
<div id="footer"></div>
</body>



<!--页脚加载-->
<script>
//    $.get("index/banner.json",function(res){
//          $(".swiper-slide:eq(0) img").attr("src",res[0].imgUrl);
//          $(".swiper-slide:eq(0) a").attr("href",res[0].href);
//          $(".swiper-slide:eq(1) img").attr("src",res[1].imgUrl);
//          $(".swiper-slide:eq(1) a").attr("href",res[1].href);
//          $(".swiper-slide:eq(2) img").attr("src",res[2].imgUrl);
//          $(".swiper-slide:eq(2) a").attr("href",res[2].href);
//    });
    $("#zw-footer-prepend").load("/zw-footer-prepend");
    $("#footer").load("/zw-footer");
</script>


</html>