<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/zw-footer.css">
</head>
<body>
<div id="zw-footer">
    <p>
    <img src="../img/zyerDown/foot-logo.png" alt="">
    </p>
    <p class="text">最世界·自由行——从一张机票、一家酒店的订购，到一次暖心的接机服务、一张轻松融入当地的交通卡，让我们带你探索这个世界</p>
    <ul>
        <li><a href="">关于最世界·自由行</a><span>|</span></li>
        <li><a href="">服务与隐私</a><span>|</span></li>
        <li><a href="">联系我们</a><span>|</span></li>
        <li><a href="">旅游度假资质</a><span>|</span></li>
        <li><a href="">营业执照</a><span>|</span></li>
        <li><a href="">投诉建议</a></li>
    </ul>
    <p>2004-2016 © 穷游网™ qyer.com All rights reserved. Version v5.57  京ICP备12003524号  京公网安备11010502023470  京ICP证140673号</p>
    <p class="zw-footer-frilinks">北京穷游天下科技发展有限公司 电话：010-64554668</p>
    <div>关注我们
        <span><a href="">&#xe74a;</a></span><span><a href="">&#xe775;</a></span><span><a href="">&#xe60c;</a></span><span><a href="">&#xe6ea;</a></span>

    </div>
    <ul class="ImgApp">
            <li>
                <img src="img/zyerDown/footer_app_watermark.png" alt="">
                <p>扫一扫下载</p>
                <p>穷游最世界</p>
                <p>APP</p>
            </li>
    </ul>
    <ul class="ImgWeixin">
        <li>
            <img src="img/zyerDown/footer_weixin_watermark_.png" alt="">
            <p>扫一扫关注</p>
            <p>穷游最世界</p>
            <p>微信</p>
        </li>
    </ul>
    <ul class="weibo">
        <li><span>+关注</span><span><a href="http://weibo.com/zuishijie2015"><span>@</span>最世界自由行</a></span></li>
    </ul>
    <ul class="email">
        <li><input type="text" placeholder="请输入Email"><button>订阅</button></li>
    </ul>

</div>
</body>
</html>