.logout-title{
    padding: 1rem 0;
}

.mine-logout-list{
    padding: 0 1rem;
}
.mine-logout-account input{
    margin: 1.5rem 0;
}
.mine-logout-account .form-group{
    position: relative;
}


/*验证码*/
#myspanCode{
    background: url("../images/logout/bj-1.jpg") repeat;
    width: 4rem;
    height: 1.6rem;
    color: #F70504;
    font-size: 1rem;
    text-align: center;
    line-height: 2rem;
    position: absolute;
    top: -.1rem;
    right: 3rem;
}
.logcodeText{
    width: 6rem;

}
.form-group{
    position: relative;
}
.changeGetCode{
    font-style: normal;
    position: absolute;
    top: .5em;
    right: .5rem;
    font-size: .8rem;
    color:#626365;
}

.mine-logout-account{
    margin-bottom: 1rem;
}
.mine-logout-account .btn{
    background: #de4943;
    color: #FFFFFF;
    padding: .2rem 0;
    font-size: .9rem;
}
.logoutCooperativePartnerTitle{
    width: 100%;
    overflow: hidden;
    color: #878686;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.logoutCooperativePartner .QQ{
    background: url("../images/logout/loginIcon.png")-3rem -4rem no-repeat;
    display: inline-block;
    width: 3rem;
    height:3rem;
}
.logoutCooperativePartner .alipay{
    background: url("../images/logout/loginIcon.png")-6rem -4rem no-repeat;
    display: inline-block;
    width: 3rem;
    height:3rem;
}


.mine-logout-phone-dynamic{
    padding: 0 1rem;
}
.mine-logout-phone-dynamic input{
    height: 1.6rem;
}
.mine-logout-phone-dynamic .btn{
    background: #de4943;
    color: #FFFFFF;
    padding: .2rem 0;
    font-size: .9rem;
}
.mine-logout-phone-dynamic .form-group{
    margin-bottom: 1rem;
}
.mine-logout-phone-dynamic .checkcodeText{
    width: 8rem;
}
.mine-logout-phone-dynamic .checkcodeBtn{
    width: 4rem;
    font-size: .6rem;
    height: 1.6rem;

}
.LoginImmediately{
    margin-top: 3rem;
}


