.mine-headerComBtn{
    position: relative;

}
.mine-headerComBtn .btn{
    border-radius: 0;
    background: #de4943;
    color: #FFFFFF;
    padding: .5rem 0;
    font-size: .9rem;

}
.mine-headerComBtn .btn-default{
    background-color: #de4943;
}
.mine-headerComBtn .icon{
    width: 2rem;
    position: absolute;
    left: .3rem;
    border: none;
}