
.mine-userInfo{
    position: relative;
}
.mine-userInfo table{
    position: absolute;
    bottom: -1rem;
}
.mine-userInfo .mine-userInfo-img img{
    width: 100%;
}
.mine-userInfo .nav li a img{
    width: 3rem;
}

.mine-userInfo .userInfoId{
    color: #fa281b;
    font-weight: bold;
}
.mine-userInfo table tr td{
    font-size:.3rem;
    vertical-align: middle;
    color: #000000;
}
.mine-userInfo table .userInfoTd{
    position: relative;
    height: 3rem;
}
.mine-userInfo tr .userPhoto{
    position: absolute;
    bottom: .2rem;
    left: .83rem;
    width: 3.25rem;
}
.mine-userInfo tr .grade{
    position: relative;
    height: 2rem;
    width: 4.5rem;
}
.mine-userInfo tr .grade img{
    width: 3rem;
    position: absolute;
    top: 0rem;
    left: .88rem;
}
.mine-userInfo tr .grade span{
    position: absolute;
    color: #FFFFFF;
    top: .4rem;
    left: 1.3rem;
}

.mine-userInfo .userInfoList{
    background: #ccc;
    opacity: .8;
}
.mine-userInfo table tr td{
    border: none;
}




.mine-contentFrame{
    width: 100%;
    margin-top: 1rem;
}
.mine-contentFrame table{
    width: 100%;
}
.mine-contentFrame table tr td {
    width: 32%;
    border: none;
    font-size: .7rem;
}
.mine-contentFrame table tr td   img{
    width: 100%;
    display: block;
    margin-bottom: .5rem;
}


.mine-logout{
   margin: 4rem 2rem;
}
.mine-logout .btn{
     background: #de4943;
     color: #FFFFFF;
     padding: .5rem 0;
     font-size: .9rem;
 }


