.register{
    padding: 0 1rem;
}
.register input{
    margin: 1.5rem 0;
    height: 1.6rem;
}


/*验证码*/
#myspanCode{
    background: url("../images/logout/bj-1.jpg") repeat;
    width: 4rem;
    height: 1.6rem;
    color: #F70504;
    font-size: 1rem;
    text-align: center;
    line-height: 2rem;
    position: absolute;
    top: -.1rem;
    right: 3rem;
}

.logcodeText{
    width: 6rem;

}

.form-group{
    position: relative;
}

.changeGetCode{
    font-style: normal;
    position: absolute;
    top: .5em;
    right: .5rem;
    font-size: .8rem;
    color:#626365;
}

.register .btn{
    background: #de4943;
    color: #FFFFFF;
    padding: .2rem 0;
    font-size: .9rem;
}

.register .checkcodeText{
    width: 8rem;
}

.register .checkcodeBtn{
    width: 4rem;
    font-size: .6rem;
    height: 1.6rem;

}