header{
    height: 5rem;
    background: #f9fafd;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    padding: 0 1rem;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: .5rem;
}
.nav{
    display: flex;
}
.nav li{
    flex: 1;
    text-align: center;
    list-style: none;
    background: #FFFFFF;
    height: 3rem;
    line-height: 3rem;
}
.nav li{
    border-bottom: 1px solid #e0e0e0;
}
.nav li a{
    text-decoration: none;
    display: inline-block;
    width: 100%;
}
.nav li a:hover{
    color: red;
    text-decoration: underline;
}
.Reservation h3{
    height: 3rem;
    line-height: 3rem;
    background: #FFFFFF;
    border-bottom: 1px solid #e0e0e0;
    margin-top: 1rem;
    color: #6d6d6d;
    padding-left: 2rem;
}
.Reservation{
    position: relative;
}
.Reservation h3:before{
    content: "";
    display: block;
    font-size: 2rem;
    width: .8rem;
    height: 1.5rem;
    position:absolute;
    top: .8rem;
    left: .8rem;
    background: #F38631;
}
.Reservation li{
    list-style: none;
    background: #FFFFFF;
    height: 11rem;
    border-bottom: 1px solid #e0e0e0;
}
.Reservation  img{
    float: left;
    height: 10rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.Reservation li div{
    color: #6d6d6d;
    font-size: 1.4rem;
    line-height: 1.6rem;
}
.Reservation-name{
    padding-top: 2rem;
}
.Reservation li .Reservation-price{
    font-weight: bold;
    padding-top: 2rem;
    color: red;
}