<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="angular.min.js"></script>
</head>
<body ng-controller="myController">
<!--
   uppercase /lowercase 将字符串转换为 大/小 写
   currency  将字符串转换为货币显示 默认$ 美元
   可设置 currency:"￥" 显示为人民币
   orderBy 排序
   orderBy:key:bol===orderBy(key,bol);
   key:要排序的字段
   bol：是否降序排列，默认false升序
   filter 筛选数据
   filter:'searchkey'  按指定值进行筛选

   date 转换指定的时间格式
   date:"format"  如: date:"yyyy-MM-dd HH:m:ss"
   number 保留指定小数(四舍五入)
   45.18324| number:1   ==45.2
-->
    {{name | uppercase}}
    <hr>
    {{"HELLO"|lowercase}}
    <hr>
    {{price | currency}}
    <hr>
    {{price | currency:"￥"}}
    <hr>
    <select ng-model="orderKey">
        <option value="name">按名称排序</option>
        <option value="age">按年龄排序</option>
    </select>
   <input type="checkbox" ng-model="bol">
   <input type="text" ng-model="searchKey">
    <ul>
        <!--<li ng-repeat="item in arr | orderBy:'age'">{{item.name+"-"+item.age}}</li>-->
        <!--<li ng-repeat="item in arr | orderBy:'age:true'">{{item.name+"-"+item.age}}</li>-->
        <!--<li ng-repeat="item in arr | orderBy:orderKey:true">{{item.name+"-"+item.age}}</li>-->
        <!--<li ng-repeat="item in arr | orderBy:orderKey:bol">{{item.name+"-"+item.age}}</li>-->
        <!--<li ng-repeat="item in arr | orderBy:orderKey:bol |filter:'ac'">{{item.name+"-"+item.age}}</li>-->
        <li ng-repeat="item in arr | orderBy:orderKey:bol |filter:searchKey">{{item.name+"-"+item.age}}</li>
        <!--<li ng-repeat="item in arr | orderBy:orderKey:bol |filter:searchKey| limitTo:2">{{item.name+"-"+item.age}}</li>-->

    </ul>
    <hr>
    {{date |date:"yyyy-MM-dd HH:m:ss"}}
    <hr>
    {{456.183456 |number:1}}
</body>
<script type="text/javascript">
    angular.module("myApp",[])
            .controller("myController",["$scope",function($scope){
                $scope.name="zhar";
                $scope.price=550.45678;
                $scope.date=new Date();
                $scope.arr=[{
                    name:"jack",
                    age:45
                },{
                    name:"kack",
                    age:32
                },{
                    name:"fack",
                    age:32
                },{
                    name:"kfc",
                    age:33
                }]
            }])
</script>
</html>