
.choice span {
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    padding: 0px 5px;
}
.capacity{
    color: #afafaf;
}
.newPrice{
    color: red;
}
.oldPrice{
    text-decoration: line-through;
    color: #afafaf;
}
.add{
    color: red;
    font-weight: bold;
    position: absolute;
    right: .6rem;
    bottom: .5rem;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    border: 1px solid #9d9d9d;
    border-radius: 50%;
    text-align: center;
    font-size: 3.8rem;
    background: #FFFFFF;
    margin-right: .7rem;
}

.sub{
    color: red;
    font-weight: bold;
    position: absolute;
    bottom: .5rem;
    right: 6rem;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    border: 1px solid #9d9d9d;
    border-radius: 50%;
    text-align: center;
    font-size: 3.8rem;
    background: #FFFFFF;
    margin-right: .7rem;
}

.number{
    position: absolute;
    right: 4.2rem;
    bottom: .5rem;
    line-height: 3rem;
    text-align: center;
    font-size: 1.8rem;
    margin-right: .7rem;
}

  .list .product>div{
    flex: 1;
    padding: 0 0 0 0.5rem;
    /*width: 33%;*/
    line-height: 1.9rem;
}


.price{
    position: relative;
}


.name{
    font-size: 1.2rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;


}
.pic{
    width: 100%;
}
